[submodule "libs/commandlinearguments/argumentum"]
	path = libs/commandlinearguments/argumentum
	url = https://github.com/mmahnic/argumentum.git

[submodule "libs/logs/spdlog"]
	path = libs/logs/spdlog
	url = https://github.com/gabime/spdlog.git
